body {
    background-color: #282C54;
    font-family: arial;
}
/* .Select-input{
    height: 45px;
}

.Select-control{
    height: 45px;
}

.Select-placeholder{
    line-height: 45px;
} */

.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner table {
    --hover: #282C54 !important;
  }
  
.dash-table-container .dash-spreadsheet-container .dash-spreadsheet-inner input:not([type=radio]):not([type=checkbox]){
    color: white!important;
}